WP_ENV=development
DB_NAME=wordpress
DB_USER=wordpress
DB_PASSWORD=wordpress
DB_HOST=database
WP_HOME=https://pressbooks.test
WP_SITEURL=${WP_HOME}/wp

DOMAIN_CURRENT_SITE='pressbooks.test'

# Generate your keys here: https://roots.io/salts.html
AUTH_KEY='generateme'
SECURE_AUTH_KEY='generateme'
LOGGED_IN_KEY='generateme'
NONCE_KEY='generateme'
AUTH_SALT='generateme'
SECURE_AUTH_SALT='generateme'
LOGGED_IN_SALT='generateme'
NONCE_SALT='generateme'

CUSTOM_DELETE_BOOK_ENDPOINT=http://localhost:3000/api/books/delete

# Sentry.io
SENTRY_KEY=sentry_key
SENTRY_ORGANIZATION=sentry_organization_id
SENTRY_PROJECT=sentry_project_id

# Redis Configuration
# WP_REDIS_TOKEN=your_redis_token
# WP_REDIS_HOST='redis'
# WP_REDIS_PORT=6379
# WP_REDIS_DATABASE=0

# DocRaptor
DOCRAPTOR_API_KEY=your_docraptor_api_key

# Algolia
ALGOLIA_APP_ID=your_algolia_app_id
ALGOLIA_API_KEY=your_algolia_api_key
ALGOLIA_INDEX_NAME=your_algolia_index_name

# PB MathJax
PB_MATHJAX_URL=http://localhost:3000

# PHP deprecation notices
DISPLAY_PHP8_1_DEPRECATIONS=true
